/* Definition des variables CSS*/
:root{
    --color: #000;
    --ul-background-color: #D2CBCB;
    --ul-accueil: #7b7377;
    --ul-hoover: #F9E7E7;
    --ul-font-hoover: black;
    --back-color: #ffffff;
    --home-hoover: white;
    --background: #E7E5DF;
}

/* Création du corps du site web pour écran de PC */
body /* Paramètres du body */
{
    width :100% ;
    background-color: var(--background);
    overflow-x: hidden;
}

#global /* Identifiant global */
{
    width :80% ;
    margin :auto ;
    padding :25px ;
}

.header /* Paramètres du Header */
{
    width :100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-gauche /* Découpage du body à gauche */
{
    width :20% ;
    float :left ;
}

.contenu /* Paramètrage du contenu principal */
{
    width :60% ;
    float :left ;
}

.sidebar-droite /* Découpage du body à droite */
{
    width :20% ;
    float :left ;
}

.footer /* Paramètres du Footer */
{
    width :100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.a {
    /* Pour que le lien ne soit plus surligné */
    text-decoration: none;
    color: var(--neon1);
}

/* Stylisation du menu */
ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--ul-background-color);
}
  
li a {
    display: block;
    color: var(--color);
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    background-color: var(--ul-accueil);
    color: var(--home-hoover);
}
  
li a:hover:not(.active) {
    background-color: var(--ul-hoover);
    color: var(--ul-font-hoover);
}

/* Responsive tablettes */
@media(min-width: 768px) and (max-width: 1388px)
{
#global
{
    width :100% ;
    padding :0px ;
}

.menu-gauche
{
    width :100% ;           
}

.contenu
{
    width :80% ;
}
}

/* Responsive mobile */
@media(max-width: 767px)
{ 
#global
{
    width :100% ;
    padding :0px ;
}

.menu-gauche
{
    width :100% ;
}

.contenu
{
    width :100% ;
}

.sidebar-droite
{
    width :100% ;
}
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
  }
  .center h1 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
  }
  .center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
  }
  .center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
  }
  .center .inputbox button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 25px;
    border-radius: 20px;
    font-size: 1.2em;
    background-color: var(--ul-background-color);
  }
  .center .inputbox:last-child {
    margin-bottom: 0;
  }
  .center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  .center .inputbox input:focus ~ span,
  .center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
  }
  .center .inputbox button:focus ~ span,
  .center .inputbox button:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
  }